USE [master]
GO
/****** Object:  Database [StudentAffairs]    Script Date: 12/1/2025 3:16:24 PM ******/
CREATE DATABASE [StudentAffairs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentAffairs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StudentAffairs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentAffairs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StudentAffairs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentAffairs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentAffairs]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[SortNum] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityDepartments]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityDepartments](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CityId] [uniqueidentifier] NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CityDepartments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LevelId] [uniqueidentifier] NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[NumberId] [nvarchar](max) NULL,
	[JobId] [uniqueidentifier] NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EndYearResults]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EndYearResults](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EndYearResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExemptionReasons]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExemptionReasons](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ExemptionReasons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExitPermission]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExitPermission](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[LevelName] [nvarchar](max) NULL,
	[ExitDate] [datetime] NULL,
	[StudentId] [uniqueidentifier] NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ExitPermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseTypes]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ExpenseTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Levels]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Levels](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[SortNum] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Levels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nationalities]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationalities](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SortNum] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Nationalities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Num] [int] NULL,
	[ParentId] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Pages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationStatus]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationStatus](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_RegistrationStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Religion]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Religion](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SortNum] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Religion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchoolInfo]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolInfo](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[CityId] [uniqueidentifier] NULL,
	[DepartmentId] [uniqueidentifier] NULL,
	[SchoolPrincipal] [nvarchar](max) NULL,
	[Administration] [nvarchar](max) NULL,
	[StudentAffairsOfficer] [nvarchar](max) NULL,
	[SocialWorker] [nvarchar](max) NULL,
	[StudyYear] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SchoolInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScienceDivision]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScienceDivision](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ScienceDivision] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecondLanguage]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecondLanguage](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SecondLanguage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecondRoundResults]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecondRoundResults](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SecondRoundResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialStatus]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialStatus](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SocialStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentAttachments]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAttachments](
	[Id] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NULL,
	[FileName] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_StudentAttachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentReceipt]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentReceipt](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[LevelName] [nvarchar](max) NULL,
	[ReceiptDate] [datetime] NULL,
	[ReceiptPerson] [nvarchar](max) NULL,
	[StudentId] [uniqueidentifier] NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_StudentReceipt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[SerialNumber] [nvarchar](50) NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Phone] [nvarchar](50) NULL,
	[LevelId] [uniqueidentifier] NULL,
	[ClassId] [uniqueidentifier] NULL,
	[SeatNumber] [nvarchar](max) NULL,
	[ReligionId] [uniqueidentifier] NULL,
	[NationalityId] [uniqueidentifier] NULL,
	[ExpenseTypeId] [uniqueidentifier] NULL,
	[ExemptionReasonId] [uniqueidentifier] NULL,
	[EndYearResultId] [uniqueidentifier] NULL,
	[SecondRoundResultId] [uniqueidentifier] NULL,
	[HealthCondition] [nvarchar](max) NULL,
	[FirstSemesterResult] [nvarchar](max) NULL,
	[EducationalIntegration] [int] NULL,
	[TransferredToTheSchool] [int] NULL,
	[Address] [nvarchar](max) NULL,
	[NumberId] [nvarchar](max) NULL,
	[BirthDate] [nvarchar](max) NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[CityId] [uniqueidentifier] NULL,
	[GenderId] [int] NULL,
	[RegistrationStateId] [uniqueidentifier] NULL,
	[RegistrationNum] [nvarchar](max) NULL,
	[RegistrationDate] [datetime] NULL,
	[ParentName] [nvarchar](max) NULL,
	[ParentAddress] [nvarchar](max) NULL,
	[ParentJob] [nvarchar](max) NULL,
	[ParentPhone] [nvarchar](max) NULL,
	[ParentWhatsApp] [nvarchar](max) NULL,
	[MotherName] [nvarchar](max) NULL,
	[MotherPhone] [nvarchar](50) NULL,
	[SocialStateId] [uniqueidentifier] NULL,
	[TabletSerialNumber] [nvarchar](max) NULL,
	[ScienceDivisionId] [uniqueidentifier] NULL,
	[IM] [nvarchar](max) NULL,
	[SecondLanguageId] [uniqueidentifier] NULL,
	[DateOfReceipt] [datetime] NULL,
	[InsurancePolicyNumber] [nvarchar](max) NULL,
	[InsurancePolicyDate] [datetime] NULL,
	[ProtectionCommittee] [nvarchar](max) NULL,
	[Duration] [nvarchar](max) NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Problem] [nvarchar](max) NULL,
	[ActionTaken] [nvarchar](max) NULL,
	[Talents] [nvarchar](max) NULL,
	[Competitions] [nvarchar](max) NULL,
	[StudentTypeId] [int] NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentsAttendances]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsAttendances](
	[Id] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NULL,
	[LevelId] [uniqueidentifier] NULL,
	[ClassId] [uniqueidentifier] NULL,
	[AttendDate] [datetime] NULL,
	[AttendOrNo] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_StudentsAttendances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/1/2025 3:16:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[RoleId] [int] NULL,
	[SchoolId] [uniqueidentifier] NULL,
	[UserScreens] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedOn] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Cities] ([Id], [Code], [Name], [SortNum], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b92574f971', N'01', N'القاهره', 1, NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[Cities] ([Id], [Code], [Name], [SortNum], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'1594066d-53e4-4488-a6e1-51015ab311fa', N'88', N'مولود خارج', 27, NULL, CAST(N'2025-10-14T09:52:40.263' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[Cities] ([Id], [Code], [Name], [SortNum], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'1594066d-53e4-4488-a6e1-51015ab32012', N'34', N'شمال سيناء', 25, NULL, CAST(N'2025-10-14T09:52:40.263' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', NULL, NULL, 0, NULL, NULL)
GO
INSERT [dbo].[CityDepartments] ([Id], [Name], [CityId], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'bfe10dda-a4a7-4cef-a101-18e8e7140646', N'ادارة غرب', N'1594066d-53e4-4488-a6e2-6131fd3025fb', NULL, NULL, CAST(N'2025-11-12T03:25:47.073' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', NULL, NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Classes] ([Id], [Name], [LevelId], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'd053e7bf-5c4b-464c-849b-23d7ce9ea62a', N'فصل 1/1', N'4741296c-c863-474e-a395-26b92574f971', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-11-22T07:53:43.543' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[Classes] ([Id], [Name], [LevelId], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b92574f971', N'1', N'4741296c-c863-474e-a395-26b92574f971', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[Classes] ([Id], [Name], [LevelId], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b93574f971', N'2', N'4741296c-c863-474e-a395-26b92574f971', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
GO
INSERT [dbo].[EndYearResults] ([Id], [Name], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b92574f971', N'ناجح', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[EndYearResults] ([Id], [Name], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b93574f971', N'راسب', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
GO
INSERT [dbo].[ExemptionReasons] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-24c93571f971', N'اخري', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[ExemptionReasons] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-24c93574f971', N'ايتام', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[ExemptionReasons] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b92574f971', N'ابناء عاملين', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
GO
INSERT [dbo].[ExpenseTypes] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b92574f971', N'معفي', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[ExpenseTypes] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b93574f971', N'سدد', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[ExpenseTypes] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26c93574f971', N'لم يسدد', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
GO
INSERT [dbo].[Levels] ([Id], [Name], [SchoolId], [SortNum], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b92574f971', N'الصف الاول الابتدائي', N'2036014e-cf81-425a-b30e-854fd7f85f7c', 0, NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[Levels] ([Id], [Name], [SchoolId], [SortNum], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b93574f971', N'الصف الثاني الابتدائي', N'2036014e-cf81-425a-b30e-854fd7f85f7c', 0, NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[Levels] ([Id], [Name], [SchoolId], [SortNum], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26c93574f971', N'الصف الثالث الابتدائي', N'2036014e-cf81-425a-b30e-854fd7f85f7c', 0, NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
GO
INSERT [dbo].[Nationalities] ([Id], [Name], [SortNum], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b92574f971', N'مصري', 0, NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[Nationalities] ([Id], [Name], [SortNum], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b93574f971', N'وافد', 0, NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
GO
INSERT [dbo].[Pages] ([Id], [Name], [Link], [Num], [ParentId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (1, N'الرئيسية', N'/Home     ', 0, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[Pages] ([Id], [Name], [Link], [Num], [ParentId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (2, N'التعريفات الاساسية', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[Pages] ([Id], [Name], [Link], [Num], [ParentId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (3, N'المحافظات', N'/Cities', 1, 2, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL)
GO
INSERT [dbo].[RegistrationStatus] ([Id], [Name], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b92574f971', N'مستجد', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[RegistrationStatus] ([Id], [Name], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b93574f971', N'باق', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
GO
INSERT [dbo].[Religion] ([Id], [Name], [SortNum], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b92574f971', N'مسلم', 0, NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[Religion] ([Id], [Name], [SortNum], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b93574f971', N'مسيحي', 0, NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
GO
INSERT [dbo].[ScienceDivision] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-24c93161f971', N'بكالوريا مسار الاداب والفنون', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[ScienceDivision] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-24c93171f971', N'بكالوريا مسار علوم الحاسب والاعمال ', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[ScienceDivision] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-24c93571f971', N'بكالوريا مسار الهندسة', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
GO
INSERT [dbo].[SecondLanguage] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-24c93571f971', N'صيني', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[SecondLanguage] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-24c93574f971', N'اسباني', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[SecondLanguage] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b92574f971', N'الماني', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
GO
INSERT [dbo].[SecondRoundResults] ([Id], [Name], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b92574f971', N'ناجح', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[SecondRoundResults] ([Id], [Name], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b93574f971', N'راسب وله حق الاعادة', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[SecondRoundResults] ([Id], [Name], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26c93574f971', N'راسب وليس له حق الاعادة', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
GO
INSERT [dbo].[SocialStatus] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-24c93571f971', N'لا', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[SocialStatus] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-24c93574f971', N'انفصال', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[SocialStatus] ([Id], [Name], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'4741296c-c863-474e-a395-26b92574f971', N'يتيم الاب', N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-10-16T14:37:55.270' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-10-16T14:38:07.223' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
GO
INSERT [dbo].[StudentReceipt] ([Id], [Code], [Name], [LevelName], [ReceiptDate], [ReceiptPerson], [StudentId], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'c3e88b4f-f864-4fd7-b6c2-228deb7c7f06', N'1', N'فوزي رجب احمد', N'الصف الاول الابتدائي', CAST(N'2025-11-03T21:39:00.000' AS DateTime), N'الوالد', NULL, N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-11-03T18:23:17.523' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[StudentReceipt] ([Id], [Code], [Name], [LevelName], [ReceiptDate], [ReceiptPerson], [StudentId], [SchoolId], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'5edcfcca-0cdb-44bd-b70f-2ba3fe2ba267', N'1', NULL, NULL, NULL, N'dgdsgdxg', NULL, N'2036014e-cf81-425a-b30e-854fd7f85f7c', NULL, CAST(N'2025-11-03T17:09:49.260' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', NULL, NULL, 1, CAST(N'2025-11-03T17:09:54.703' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7')
GO
INSERT [dbo].[StudentsAttendances] ([Id], [StudentId], [LevelId], [ClassId], [AttendDate], [AttendOrNo], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'42ef1cc5-77dc-4c38-9552-0da91731da7d', N'ced78b13-9b96-45d6-b08d-cf3f251ae253', N'4741296c-c863-474e-a395-26b92574f971', NULL, CAST(N'2025-11-12T00:00:00.000' AS DateTime), 1, NULL, CAST(N'2025-11-25T09:54:51.627' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[StudentsAttendances] ([Id], [StudentId], [LevelId], [ClassId], [AttendDate], [AttendOrNo], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'd9e96c55-8cc6-4557-8653-124e45f17f14', NULL, NULL, NULL, CAST(N'2025-11-17T00:00:00.000' AS DateTime), 1, NULL, CAST(N'2025-11-17T06:30:50.233' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[StudentsAttendances] ([Id], [StudentId], [LevelId], [ClassId], [AttendDate], [AttendOrNo], [Notes], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'2914cd2e-431d-45c2-8ec8-300918826555', N'ced78b13-9b96-45d6-b08d-cf3f251ae253', N'4741296c-c863-474e-a395-26b92574f971', NULL, CAST(N'2025-11-11T00:00:00.000' AS DateTime), 1, NULL, CAST(N'2025-11-25T14:15:12.397' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', NULL, NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Users] ([Id], [RoleName], [Username], [Password], [RoleId], [SchoolId], [UserScreens], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'66aa2f22-8f94-4cb5-bb89-5ab1af022936', N'مدير مدرسة', N'center', N'ATZx3sP8L6PGdt4byDcN5Q==', 2, N'2036014e-cf81-425a-b30e-854fd7f85f7c', N',0,3,4,5,6,8,9,10,12,13,14,15,16,17,18,19,24,11,2,25,', CAST(N'2025-11-24T04:41:47.067' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', CAST(N'2025-11-24T04:42:56.050' AS DateTime), N'7c9e6679-7425-40de-944b-e07fc1f90ae7', 0, NULL, NULL)
INSERT [dbo].[Users] ([Id], [RoleName], [Username], [Password], [RoleId], [SchoolId], [UserScreens], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [IsDeleted], [DeletedOn], [DeletedBy]) VALUES (N'7c9e6679-7425-40de-944b-e07fc1f90ae7', N'مدير النظام', N'Admin', N'kp5y23p/6+Y9dH3jc0BSuMPe++Kt+suCUZerXXkuxrg=', 1, NULL, N',0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,24,25,', CAST(N'2023-09-11T10:05:27.000' AS DateTime), NULL, NULL, NULL, 0, NULL, NULL)
GO
ALTER TABLE [dbo].[Cities] ADD  CONSTRAINT [DF_Cities_SortNum]  DEFAULT ((0)) FOR [SortNum]
GO
ALTER TABLE [dbo].[Cities] ADD  CONSTRAINT [DF_Cities_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CityDepartments] ADD  CONSTRAINT [DF_CityDepartments_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Classes] ADD  CONSTRAINT [DF_Classes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[EndYearResults] ADD  CONSTRAINT [DF_EndYearResults_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ExemptionReasons] ADD  CONSTRAINT [DF_ExemptionReasons_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ExitPermission] ADD  CONSTRAINT [DF_ExitPermission_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ExpenseTypes] ADD  CONSTRAINT [DF_ExpenseTypes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Jobs] ADD  CONSTRAINT [DF_Jobs_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Levels] ADD  CONSTRAINT [DF_Levels_SortNum]  DEFAULT ((0)) FOR [SortNum]
GO
ALTER TABLE [dbo].[Levels] ADD  CONSTRAINT [DF_Levels_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Nationalities] ADD  CONSTRAINT [DF_Nationalities_SortNum]  DEFAULT ((0)) FOR [SortNum]
GO
ALTER TABLE [dbo].[Nationalities] ADD  CONSTRAINT [DF_Nationalities_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Pages] ADD  CONSTRAINT [DF_Table_1_SortNum]  DEFAULT ((0)) FOR [Num]
GO
ALTER TABLE [dbo].[Pages] ADD  CONSTRAINT [DF_Pages_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[RegistrationStatus] ADD  CONSTRAINT [DF_RegistrationStatus_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Religion] ADD  CONSTRAINT [DF_Religion_SortNum]  DEFAULT ((0)) FOR [SortNum]
GO
ALTER TABLE [dbo].[Religion] ADD  CONSTRAINT [DF_Religion_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SchoolInfo] ADD  CONSTRAINT [DF_SchoolInfo_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ScienceDivision] ADD  CONSTRAINT [DF_ScienceDivision_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SecondLanguage] ADD  CONSTRAINT [DF_SecondLanguage_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SecondRoundResults] ADD  CONSTRAINT [DF_SecondRoundResults_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SocialStatus] ADD  CONSTRAINT [DF_SocialStatus_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[StudentAttachments] ADD  CONSTRAINT [DF_StudentAttachments_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[StudentReceipt] ADD  CONSTRAINT [DF_StudentReceipt_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_EducationalIntegration]  DEFAULT ((0)) FOR [EducationalIntegration]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_TransferredToTheSchool]  DEFAULT ((0)) FOR [TransferredToTheSchool]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_Day]  DEFAULT ((0)) FOR [Day]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_Month]  DEFAULT ((0)) FOR [Month]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_Year]  DEFAULT ((0)) FOR [Year]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_StudentTypeId]  DEFAULT ((0)) FOR [StudentTypeId]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Table1_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[StudentsAttendances] ADD  CONSTRAINT [DF_StudentsAttendances_AttendOrNo]  DEFAULT ((0)) FOR [AttendOrNo]
GO
ALTER TABLE [dbo].[StudentsAttendances] ADD  CONSTRAINT [DF_StudentsAttendances_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CityDepartments]  WITH CHECK ADD  CONSTRAINT [FK_CityDepartments_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[CityDepartments] CHECK CONSTRAINT [FK_CityDepartments_Cities]
GO
ALTER TABLE [dbo].[CityDepartments]  WITH CHECK ADD  CONSTRAINT [FK_CityDepartments_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[CityDepartments] CHECK CONSTRAINT [FK_CityDepartments_SchoolInfo]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Levels] FOREIGN KEY([LevelId])
REFERENCES [dbo].[Levels] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Levels]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_SchoolInfo]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Jobs] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Jobs]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_SchoolInfo]
GO
ALTER TABLE [dbo].[ExemptionReasons]  WITH CHECK ADD  CONSTRAINT [FK_ExemptionReasons_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[ExemptionReasons] CHECK CONSTRAINT [FK_ExemptionReasons_SchoolInfo]
GO
ALTER TABLE [dbo].[ExitPermission]  WITH CHECK ADD  CONSTRAINT [FK_ExitPermission_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[ExitPermission] CHECK CONSTRAINT [FK_ExitPermission_SchoolInfo]
GO
ALTER TABLE [dbo].[ExitPermission]  WITH CHECK ADD  CONSTRAINT [FK_ExitPermission_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[ExitPermission] CHECK CONSTRAINT [FK_ExitPermission_Students]
GO
ALTER TABLE [dbo].[ExpenseTypes]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseTypes_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[ExpenseTypes] CHECK CONSTRAINT [FK_ExpenseTypes_SchoolInfo]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_SchoolInfo]
GO
ALTER TABLE [dbo].[Levels]  WITH CHECK ADD  CONSTRAINT [FK_Levels_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[Levels] CHECK CONSTRAINT [FK_Levels_SchoolInfo]
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD  CONSTRAINT [FK_Pages_Pages] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Pages] ([Id])
GO
ALTER TABLE [dbo].[Pages] CHECK CONSTRAINT [FK_Pages_Pages]
GO
ALTER TABLE [dbo].[SchoolInfo]  WITH CHECK ADD  CONSTRAINT [FK_SchoolInfo_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[SchoolInfo] CHECK CONSTRAINT [FK_SchoolInfo_Cities]
GO
ALTER TABLE [dbo].[SchoolInfo]  WITH CHECK ADD  CONSTRAINT [FK_SchoolInfo_CityDepartments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[CityDepartments] ([Id])
GO
ALTER TABLE [dbo].[SchoolInfo] CHECK CONSTRAINT [FK_SchoolInfo_CityDepartments]
GO
ALTER TABLE [dbo].[ScienceDivision]  WITH CHECK ADD  CONSTRAINT [FK_ScienceDivision_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[ScienceDivision] CHECK CONSTRAINT [FK_ScienceDivision_SchoolInfo]
GO
ALTER TABLE [dbo].[SecondLanguage]  WITH CHECK ADD  CONSTRAINT [FK_SecondLanguage_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[SecondLanguage] CHECK CONSTRAINT [FK_SecondLanguage_SchoolInfo]
GO
ALTER TABLE [dbo].[SocialStatus]  WITH CHECK ADD  CONSTRAINT [FK_SocialStatus_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[SocialStatus] CHECK CONSTRAINT [FK_SocialStatus_SchoolInfo]
GO
ALTER TABLE [dbo].[StudentAttachments]  WITH CHECK ADD  CONSTRAINT [FK_StudentAttachments_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[StudentAttachments] CHECK CONSTRAINT [FK_StudentAttachments_Students]
GO
ALTER TABLE [dbo].[StudentReceipt]  WITH CHECK ADD  CONSTRAINT [FK_StudentReceipt_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[StudentReceipt] CHECK CONSTRAINT [FK_StudentReceipt_SchoolInfo]
GO
ALTER TABLE [dbo].[StudentReceipt]  WITH CHECK ADD  CONSTRAINT [FK_StudentReceipt_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[StudentReceipt] CHECK CONSTRAINT [FK_StudentReceipt_Students]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Cities]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Classes]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_EndYearResults] FOREIGN KEY([EndYearResultId])
REFERENCES [dbo].[EndYearResults] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_EndYearResults]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_ExemptionReasons] FOREIGN KEY([ExemptionReasonId])
REFERENCES [dbo].[ExemptionReasons] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_ExemptionReasons]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_ExpenseTypes] FOREIGN KEY([ExpenseTypeId])
REFERENCES [dbo].[ExpenseTypes] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_ExpenseTypes]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Levels] FOREIGN KEY([LevelId])
REFERENCES [dbo].[Levels] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Levels]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Nationalities] FOREIGN KEY([NationalityId])
REFERENCES [dbo].[Nationalities] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Nationalities]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_RegistrationStatus] FOREIGN KEY([RegistrationStateId])
REFERENCES [dbo].[RegistrationStatus] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_RegistrationStatus]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Religion] FOREIGN KEY([ReligionId])
REFERENCES [dbo].[Religion] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Religion]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_SchoolInfo]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_ScienceDivision] FOREIGN KEY([ScienceDivisionId])
REFERENCES [dbo].[ScienceDivision] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_ScienceDivision]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_SecondLanguage] FOREIGN KEY([SecondLanguageId])
REFERENCES [dbo].[SecondLanguage] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_SecondLanguage]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_SecondRoundResults] FOREIGN KEY([SecondRoundResultId])
REFERENCES [dbo].[SecondRoundResults] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_SecondRoundResults]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_SocialStatus] FOREIGN KEY([SocialStateId])
REFERENCES [dbo].[SocialStatus] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_SocialStatus]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Students] FOREIGN KEY([Id])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Students]
GO
ALTER TABLE [dbo].[StudentsAttendances]  WITH CHECK ADD  CONSTRAINT [FK_StudentsAttendances_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[StudentsAttendances] CHECK CONSTRAINT [FK_StudentsAttendances_Classes]
GO
ALTER TABLE [dbo].[StudentsAttendances]  WITH CHECK ADD  CONSTRAINT [FK_StudentsAttendances_Levels] FOREIGN KEY([LevelId])
REFERENCES [dbo].[Levels] ([Id])
GO
ALTER TABLE [dbo].[StudentsAttendances] CHECK CONSTRAINT [FK_StudentsAttendances_Levels]
GO
ALTER TABLE [dbo].[StudentsAttendances]  WITH CHECK ADD  CONSTRAINT [FK_StudentsAttendances_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[StudentsAttendances] CHECK CONSTRAINT [FK_StudentsAttendances_Students]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_SchoolInfo] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[SchoolInfo] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_SchoolInfo]
GO
USE [master]
GO
